<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recapitulando</title>
</head>
<body>
    <!--TAGS DE LINEA -->
    <b> - Bold text </b>  <!--Formating -->  
    <strong> - Important text </strong>  
    <i> - Italic text </i>
    <em> - Emphasized text </em>
    <mark> - Marked text </mark>
    <small> - Smaller text </small>
    <del> - Deleted text </del>
    <ins> - Inserted text </ins>
    <sub> - Subscript text </sub>
    <sup> - Superscript text </sup> 
    <abbr title="World Health Organization">WHO</abbr> <!--Quotation -->  
    <q>Si quieres cosas diferentes, no hagas siempre lo mismo </q>
    <cite> Cita corta</cite> 
    <bdo dir="rtl">This line will be written from right to left</bdo>
    <!--<TAG style="="property:value;">Texto </finTAG> -->
    <span></span> <!--un bloque en linea, permite agrupar una parte del documento en linea al que dar estilo-->
    My mother has <span style="color:blue">blue</span> eyes.

    <!--TAGS DE BLOQUE -->
    <p> Nueva Linea para párrafo  </p>
    <h1>Nueva linea para todo tipo de cabecera</h1>
    <pre> Nueva línea y 
        mantiene el texto como se muestra dentro de la tag
    </pre>
    <address>  Dirección empieza en nueva linea </address> <!--Quotation -->  
    <blockquote  cite="http://www.worldwildlife.org/who/index.html">párafo hace referencia a una cita larga.</blockquote> 
    
    <div>Bloque Div</div>
    
    <hr>
        
    <section>Dección</section>
    <nav>nvaegación</nav>
    <main>principal</main>
    <article>artículos</article>
    <aside>lateral</aside>
    <header>cabecera</header>
    <footer>También el footer</footer>
    <canvas>lienzo</canvas>
    <figure>figura</figure>
    <figurecaption>nombre de figura</figurecaption>
       
    <dl>descripción list</dl> <!--Description List-->
    <dt>termino</dt> <!--Define Term-->
    <dd>dato</dd> <!--Data-->

    <ol>ordenado</ol> <!--lista ordenada-->
    <li>elemento lista</li>

    <ul>desordenado</ul> <!--lista desordenada-->
    <li>elemento lista</li>

    <form>formulario</form>
    <fieldset>agrupador de formulario</fieldset>

    <table>Tabla inicia</table>
</body>
</html>