body {
  text-align: center;
  margin: 0;
  background-color: #b0e0e6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#calculator {
  max-width: 360px;
  background-color: #od1b2a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10 20px rgba(0, 0, 0, 0.19);
}

#display {
  width: 100%;
  height: 56px;
  font-size: 20px;
  text-align: right;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
  color: #e0e1dd;
  background-color: rgba(13, 27, 42, 0.3);
  border: none;
  box-sizing: border-box;
}

.operator {
  color: #ff9500;
}

#ac {
  color: #ff3b30;
}

.equal {
  width: calc(50% - 10px);
}

button {
  width: calc(25% - 10px);
  height: 50px;
  margin: 10px 5px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  float: left;
  background-color: rgb(13, 27, 42);
  color: #e0e1dd;
  -webkit-box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
}
